{% extends 'SanneScraperBundle:Default:base.html.twig'  %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">You dun' goofed</h3>
        </div>
        <div class="panel-body">
            <div class="jumbotron">
                
                <img style="height: 250px;" class="img-responsive thumbnail small-3  pull-right" src="http://images4.fanpop.com/image/photos/16100000/Cute-Kitten-kittens-16122946-1280-800.jpg">
                
                <h1 class="display-3">Oh noes!</h1>
                <p class="lead">If you can read this, then then the stats have been cleaned up. </p>
                <br>
                <p class="lead">No stats for you!</p>  
                
            </div>
        </div>
    </div>
{% endblock %}