{% extends 'SanneScraperBundle:Default:base.html.twig' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sanne's Media Consumption</h3>
        </div>
        <div class="panel-body">

            <!-- todo this row should be inside a row, or a much smaller container -->
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-7 col-lg-2">
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            {% for year in years %}
                                <option>{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-1 col-sm-1 col-xs-4 col-lg-1">
                    <a id="download">
                        <button type="button" class="btn btn-primary">Download</button>
                    </a>
                </div>
            </div>

            <script src="/js/updateGraph.js"></script>
            <div class="row">
                <div class="sanvas">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
                <script>
                    var movieData = {{ results[0].getData() }};
                    var bookData = {{ results[1].getData() }};

                    // to trigger on pageload, start at 2009
                    $(document).ready(function () {
                        updateGraph(movieData, bookData, 2009);
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}