{% extends 'SanneScraperBundle:Default:base.html.twig'  %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sanne's Media Consumption</h3>
        </div>
        <div class="panel-body">
            <div class="jumbotron">
                
                <img style="height: 250px;" class="img-responsive thumbnail small-3  pull-right" src="http://images4.fanpop.com/image/photos/16100000/Cute-Kitten-kittens-16122946-1280-800.jpg">
                
                <h1 class="display-3">Hello, world!</h1>
                <p class="lead">If you can read this, then then the stats should (!) be successfully flushed.</p>
              {#  <hr class="my-4">#}
                <p>Below is a clicky button, clicky it to see the either error handling or a nice error. Also there is an image of a cat.</p>
                
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/stats" role="button">Stats clicky !</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}